
@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout)) {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Views/Shared/_Layout.cshtml";
    }
}

<div>    
    @RenderBody();
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}