@using Datas.ViewModels.Auth;
@model AppUserChangePasswordViewModel
@{
    // Layout = "/View/Account/Profile.cshtml";
}

<!-- Change Password Form -->
<form asp-action="ChangePassword" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

    <div class="row mb-3">
        <label for="CurrentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
        <div class="col-md-8 col-lg-9">
            <input name="CurrentPassword" type="password" class="form-control" id="currentPassword">
        </div>
        @* <span asp-validation-for="CurrentPassword" class="text-danger"></span> *@
    </div>

    <div class="row mb-3">
        <label for="NewPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
        <div class="col-md-8 col-lg-9">
            <input name="NewPassword" type="password" class="form-control" id="newPassword">
        </div>
        @* <span asp-validation-for="NewPassword" class="text-danger"></span> *@
    </div>

    <div class="row mb-3">
        <label for="ConfirmPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
        <div class="col-md-8 col-lg-9">
            <input name="ConfirmPassword" type="password" class="form-control" id="renewPassword">
        </div>
        @* <span asp-validation-for="ConfirmPassword" class="text-danger"></span> *@
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary">Change Password</button>
    </div>
</form>