
<li class="nav-item dropdown">
    <a class="nav-link nav-icon" onclick="GetNotification()" href="#" data-bs-toggle="dropdown">
        <i class="bi bi-bell"></i>
        <span class="badge bg-primary badge-number">4</span>
    </a><!-- End Notification Icon -->

    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
        <li class="dropdown-header">
            You have 4 new notifications
            <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
        </li>
        <li>
            <div id="contentNoti">
        @* <li> *@
        @*     <hr class="dropdown-divider"> *@
        @* </li> *@

                
            </div>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li class="dropdown-footer">
            <a href="#">Show all notifications</a>
        </li>
    </ul>
</li>
