@import '../../variables';

/*---------------------
  Shopping Cart
-----------------------*/

.shopping__cart__table {
    margin-bottom: 30px;

    table {
        width: 100%;

        thead {
            border-bottom: 1px solid #f2f2f2;

            tr th {
                color: #111111;
                font-size: 16px;
                font-weight: 700;
                text-transform: uppercase;
                padding-bottom: 25px;
            }
        }

        tbody {
            tr {
                border-bottom: 1px solid #f2f2f2;
            }

            tr td {
                padding-bottom: 30px;
                padding-top: 30px;
            }

            tr td.product__cart__item {
                width: 400px;
            }

            tr td.product__cart__item .product__cart__item__pic {
                float: left;
                margin-right: 30px;
                width: 90px;
                height: 90px;
            }

            tr td.product__cart__item .product__cart__item__pic img {
                height: 100%;
            }

            tr td.product__cart__item .product__cart__item__text {
                overflow: hidden;

                h6 {
                    color: #111111;
                    font-size: 14px;
                    font-weight: 600;
                    margin-bottom: 10px;
                }

                h5 {
                    color: $primary-color;
                    font-weight: 600;
                    font-size: 16px;
                }
            }

            tr td.quantity__item {
                width: 175px;
            }

            tr td.quantity__item .quantity .pro-qty-2 {
                width: 80px;

                input {
                    width: 50px;
                    border: none;
                    text-align: center;
                    color: #111111;
                    font-size: 16px;
                }

                .qtybtn {
                    font-size: 16px;
                    color: #888888;
                    width: 10px;
                    cursor: pointer;
                }
            }

            tr td.cart__price {
                color: $primary-color;
                font-size: 18px;
                font-weight: 700;
                width: 140px;
            }

            tr td.cart__close svg {
                font-size: 12px;
                color: #8c8a8a;
                height: 25px;
                width: 25px;
                border-radius: 50%;
                text-align: center;
                padding: 5px;
                cursor: pointer;

                &:hover {
                    color: #111;
                    background-color: #f3f2ee;
                }
            }
        }
    }
}

.continue__btn.update__btn {
    text-align: right;
}

.continue__btn.update__btn a {
    color: #ffffff;
    background: #111111;
    border-color: #111111;
}

.continue__btn.update__btn a svg {
    margin-right: 5px;
}

.continue__btn a {
    color: #111111;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 1px solid #e1e1e1;
    padding: 14px 35px;
    display: inline-block;
}

.cart__discount {
    margin-bottom: 60px;

    h6 {
        color: #111111;
        font-weight: 700;
        text-transform: uppercase;
    }

    form {
        position: relative;

        input {
            font-size: 14px;
            color: #b7b7b7;
            height: 50px;
            width: 100%;
            border: 1px solid #e1e1e1;
            padding-left: 20px;
            border-radius: 30px;
        }

        input::-webkit-input-placeholder {
            color: #b7b7b7;
        }

        input::-moz-placeholder {
            color: #b7b7b7;
        }

        input:-ms-input-placeholder {
            color: #b7b7b7;
        }

        input::-ms-input-placeholder {
            color: #b7b7b7;
        }

        input::placeholder {
            color: #b7b7b7;
        }

        button {
            font-size: 14px;
            color: #ffffff;
            font-weight: 700;
            letter-spacing: 2px;
            text-transform: uppercase;
            background: #111111;
            padding: 0 30px;
            border: none;
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            border-radius: 0 30px 30px 0;
        }
    }
}

.cart__total {
    background: #f3f2ee;
    padding: 35px 40px 40px;
    border-radius: 30px;

    h6 {
        color: #111111;
        text-transform: uppercase;
        margin-bottom: 12px;
    }

    ul {
        margin-bottom: 25px;

        li {
            list-style: none;
            font-size: 16px;
            color: #444444;
            line-height: 40px;
            overflow: hidden;

            span {
                font-weight: 700;
                color: $primary-color;
                float: right;
            }
        }
    }

    .primary-btn {
        display: block;
        padding: 12px 10px;
        text-align: center;
        letter-spacing: 2px;
    }
}
